doctype html
html(lang="en")
  head
    include ./includes/mixins.jade
    include ./includes/svg.jade
    include ./includes/head.jade
  body
    form
      .flex-form
        +singleInput("text", "large", "Name of Youth", "clientName", "We need to know the youth's name")
        +singleInput("text", "small", "Age", "clientAge")
        +singleInput("date", "medium", "Birthdate", "clientDOB")
      .flex-form
        +singleInput("text", "large", "Guardian Name(s)", "GuardianName")
        +singleInput("text", "medium", "Relationship To Youth", "GuardianRelationship")
        +singleInput("tel", "medium", "Guardian Phone #", "GuardianPhone")
        label.flex-single-check.medium
          span Can we contact?
          input(type="checkbox" name="GuardianContact" value="yes")
          svg.checkbox(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
            use.square(xlink:href="#Checkbox-Open")
            use.selected(xlink:href="#Checkbox-Checked")
      .flex-form
        +singleInput("text", "large", "Name of Caller", "callerName")
        +singleInput("text", "medium", "Caller's Relationship", "callerRelationship")
        +singleInput("tel", "medium", "Caller Phone #", "callerNumber")
        label.flex-single-check.medium
          span Can we contact?
          input(type="checkbox" name="GuardianContact" value="yes")
          svg.checkbox(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32")
            use.square(xlink:href="#Checkbox-Open")
            use.selected(xlink:href="#Checkbox-Checked")
      .flex-form
        //-h3 CRISIS FACTORS
        label.flex-input.half.select2-holder
          span crisis factors
          select(multiple).select2
            option Transition From Hospital
            option Waiting For Treatment
            option Physical Conflict Between Youth & Family
            //-optgroup Parent/Family Homeless
            option Parent/Family Homeless (in Shelter)
            option Parent/Family Homeless (Not in Shelter)
            option Parent Needs a Break
            option Guardian Deceased
            option Guardian Out of State
            option Guardian In Jail
            option Family Conflict
            //-optgroup Youth Not At Home
            option Runaway
            option Asked To Leave Home
            option In Between Housing
            option Couch Hopping
            //-optgroup FEELING UNSAFE
            option Fear of Physical Harm
            option Fear of Emotional Harm
        label.flex-input.half.select2-holder
          span service flags
          select(multiple).select2
            option LGBTQ
            option Black / African American
            option Latino
            option Sexually Exploited Youth (SEY)
            option Native American
        label.flex-input.half.select2-holder
          span Systems involved
          select(multiple).select2
            option Foster Care
            option child protection
            option ward of the state
            option reservation connected
        label.flex-input.half.select2-holder
          span Considerations
          select(multiple).select2
            option previous diagnoses
            option previous emergency shelter visits
            option mental healh related issues
            option sexually assaultive
            option physically assaultive
            option trauma experienced
            option brain injury
            option verbally combative
            option recent significant trauma
            option developmental disabilities
            option suicidal or homicidal ideation
            option payment concerns
            option medical concerns
            option chemical or alcohol issues
        label.flex-input.full-width
          span Youth Perspective
          textarea
        label.flex-input.full-width
          span Parent Perspective
          textarea
            
            
    section.javascripts
      script(src="http://code.jquery.com/jquery-2.1.4.min.js")
      script(src="js/select2.min.js")
      script
        | $('select.select2').select2();